---
const { src1, src2 } = Astro.props;
import styles from "./TheDoubleImage.module.css";
---

<div class={styles.imageContainer}>
    <div class={styles.imageOverlay} id="image-overlay">
        <div class={styles.imageWrapper}>
            <img src={src1} class={styles.image1} id="image1" />
        </div><div class={styles.imageWrapper}>
            <img src={src2} class={styles.image2} id="image2" />
        </div>
    </div>
</div>
